

.site-content {
    height: 100vh;
    padding: 0;

    .entry-header{
        height: 100vh;
        z-index: 1;
        @include center;
        align-items: center;

        h1{
            margin: 0;
        }

        .entry-title{
            font-size: 3rem;
            text-transform: uppercase;
            color: white;
            @include san-serif;
        }
    }
}