

.page-template-about .site-content {
    padding: 0;

    .content-area {
        width: 100%;
    }

    .about-contain {
        width: 100vw;
        height: 780px;
        @include center;
    }

    .entry-header{
        height: 100vh;
        z-index: 1;
        @include center;
        align-items: center;

        h1{
            margin: 0;
        }

        .entry-title{
            font-size: 3rem;
            text-transform: uppercase;
            color: white;
            @include san-serif;
        }
    }

    .about-entry {
        width: 800px;
        padding: 20px 0;

        h2{
            @include san-serif;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 33px;
            color: #2f1339;
            margin: 30px 0;
        }

        p{
            line-height: 30px;
        }
    }
}