.home .site-content {
    height: 100vh;
    padding-top: 0;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/home-hero.jpg');
    background-size: cover;
    
    .hero{
        height: 100vh;
        @include center;

        img{
            height: 275;
        }
    }    
}


    section{
        // max-width: 1120px;
        margin: 0 auto;

        h2{
            @include center;
            @include san-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2.4rem;
            letter-spacing: 1.5px;
            margin: 45px;

        }

        .product-list-style{
            width: 100%;
            
            ul{
                margin: 0;
                padding: 0;
                display: flex;

                li{
                    width: 25%;
                    height: 270px;
                    padding: 10px;
                    margin: 10px;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid lightgray;
                    border-top: 4px solid lightgrey;

                    &:hover{
                        border: 1px solid #d99054;
                        border-top: 4px solid #d99054;
                    }

                    @include center;

                    img{
                        width: 75px;
                        height: 75px;
                    }

                    p{
                        text-align: center;
                    }

                    a{  
                        padding: 10px 22px;
                        color: white;
                        text-decoration: none;
                        background-color: #248A83;
                        text-transform: uppercase;
                        text-align: center;
                        
                        @include san-serif;

                        &:hover{
                            background-color: #19625d;
                        }
                    }
                }
            }
        }

        .journal-feature {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .journal-feature-item {
                width: 358px;
                border: 1px solid #e1e1e1;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 260px;
                    margin-bottom: 10px;
                }

                .journal-feature-text{
                    padding: 10px;
                    height: 150px;

                    .comments {
                        font-size: 0.8rem;
                    }
                    
                    .title {
                        font-family: 'novecentosanswide';
                        color: #248A83;
                        text-transform: uppercase;
                        letter-spacing: 1.5px; 
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 1.2;   
                        margin-bottom: 20px;
                    }

                    .readmore{
                       @include button;
                    }
                }
            }
        }

        .adventure-container{
            width: 100%;
            height: 560px;
            display: flex;
            margin: 20px 0;

            h3 {
                @include serif;
                color: white;
                font-size: 50px;
                font-weight: normal;
                margin: 35px 0;
            }

            h4 {
                @include serif;
                color: white;
                font-size: 40px;
                font-weight: normal;
                margin: 35px 0;
            }

            p{
                @include serif;
                color: white;
                font-size: 25px;
                font-weight: normal;
            }
            
            .readmore {
                @include button;
                border: 1px solid white;
                color: white;
            }

            .wrap1{
                width: 50%;
                padding: 0 20px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/adventure-photos/canoe-girl.jpg');
                @include background-center;
                @include box-border;
            }

            .contain-wrap{ 
                width: 50%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .wrap2{
                width: 100%;
                height: 50%;
                padding: 0 20px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/adventure-photos/beach-bonfire.jpg');
                @include background-center;
                @include box-border;
            }
            
            .wrap3{
                width: 50%;
                height: 50%;
                padding: 0 20px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/adventure-photos/mountain-hikers.jpg');
                @include background-center;
                @include box-border;
            }

            .wrap4{
                width: 50%;
                height: 50%;
                padding: 0 20px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/adventure-photos/night-sky.jpg');
                @include background-center;
                @include box-border;
            }
        }
        .more-adventure {

           margin: 30px 0;
           .readmore{
               background-color: $main-color;
               color: white;
               border: none;

               &:hover {
                    background-color:#19625d;
               }
           }
       }
    }
