.home .content-area{
    height: 1800px;
    
    .hero{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../images/home-hero.jpg');
        background-size: cover;
        @include center;


        .site-content {
            height: 100vh;
            padding-top: 0;
        }
    }

    .journal-feature {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .journal-feature-item {
            width: 355px;
            border: 1px solid lightgrey;

            img {
                width: 100%;
                object-fit: cover;
                height: 260px;
                margin-bottom: 10px;
            }

            .journal-feature-text{
                padding: 10px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 150px;

                .comments {
                    font-size: 0.8rem;
                }
                
                .title {
                    font-family: 'novecentosanswide';
                    color: #248A83;
                    text-transform: uppercase;
                    letter-spacing: 2px; 
                    font-weight: bold;
                    font-size: 1.4rem;
                    line-height: 1.2;   
                }

                .readmore{
                    width: 140px;
                    height: 40px;
                    background: none;
                    border: 1px solid;
                    text-transform: uppercase;
                    @include san-serif;
                }
            }
        }
    }
}
