/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.site-footer{
    display: none;
}

.content-area {
    width: 1120px;   

    .site-main {
        display: flex;
        
        .post-container {
            width: 73%;
            border-right: 1px solid lightgrey;
            padding-top: 50px;

            article{
                width: 760px;
                height: 700px;

                .entry-header{
                    display: flex;
                    position: relative;

                    img{
                        width: 760px;
                        height: 520px;
                    }
                    h2{
                        position: absolute;
                        top: 20px;
                        width: 570px;
                        background-color: #248A83;
                        padding: 10px 25px;

                        a{
                            color: white;
                            text-decoration: none;
                            font-family: "novecentosanswide";
                            text-transform: uppercase;
                            font-size: 33px;
                            letter-spacing: 2px;
                            line-height: 42px;
                        }
                    }
                    .entry-meta{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 5px 20px;
                        background-color: #248a83;
                        color: white;
                        font-family: "novecentosanswide";
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}


.widget-area{
    padding: 50px 0 0 50px;

    h2{
        font-family: 'novecentosanswide';
        text-transform: uppercase;
        letter-spacing: 2px; 
    }
}
