/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content{
    @include center;
    padding-top: 50px;
}

.journal {

        .post-container {
            width: 73%;
            border-right: 1px solid lightgrey;
            padding-top: 50px;

            article{
                width: 760px;
                height: 750px;
                position: relative;

                .entry-content {
                    a{
                        .read-more {
                            color: black;
                            background-color: #248A83;
                            padding: 10px;
                        }
                    }  
                }
            }

            .entry-header{
                display: flex;
                position: relative;

                img{
                    width: 760px;
                    height: 520px;
                }

                h2{
                    position: absolute;
                    top: 20px;
                    width: 570px;
                    background-color: #248A83;
                    padding: 10px 25px;  

                    a{
                        color: white;
                        text-decoration: none;
                        font-family: "novecentosanswide";
                        text-transform: uppercase;
                        font-size: 33px;
                        letter-spacing: 2px;
                        line-height: 42px;
                    }
                    a:hover {
                        color: #f0e4d1;
                    }
                }

                .entry-meta{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 5px 20px;
                    background-color: #248a83;
                    color: white;
                    font-family: "novecentosanswide";
                    text-transform: uppercase;
                }
            }
        }
    }



.widget-area{
    width: 300px;
    padding: 50px 0 0 50px;

    h2{
        font-family: 'novecentosanswide';
        text-transform: uppercase;
        letter-spacing: 2px; 
    }

    aside{
        i{
            padding-right: 10px;
        }
    }
}
