.journal .content-area {
    margin-top: 50px;
    @include center;

    .site-main {
        display: flex;
        max-width: 1120px;

        .post-container{
            width: 820px;
            border-right: 1px solid lightgrey;

            article{
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                width: 760px;

                .entry-header {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 760px;
                    height: 500px;

                    img{
                        width: 100%;
                    }

                    .entry-title{
                        position: absolute;
                        width: 570px;
                        margin: 0;
                        top: 40px;
                        left: 0;
                        background-color: $main-color;
                        align-items: center;
                        padding-left: 20px;


                        a {
                            font-size: 35px;
                            color: white;
                            text-decoration: none;
                            font-weight: bold;
                            letter-spacing: 2px;
                            
                            @include san-serif;
                        }
                    }
                    .entry-meta{
                        position: absolute;
                        padding: 8px;
                        bottom: 0;
                        right: 0;
                        background-color: $main-color;
                        align-items: center;
                        text-transform: uppercase;
                        color: white;

                        @include san-serif;
                    }
                }
            }
        }

        .widget-area{
            width: 300px;
            padding: 50px 0 0 50px;

            h2{
                font-family: 'novecentosanswide';
                text-transform: uppercase;
                letter-spacing: 2px; 
            }

            aside{
                i{
                    padding-right: 10px;
                }
            }
        }
    }
}

 .entry-content p{
    line-height: 28px;
    }

.blog .entry-content a {
    padding: 12px 22px;
    font-size: 0.9rem;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    @include san-serif;

    &:hover {
        color: white;
        background-color: $main-color;
        border: none;
    }
}