// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// fixed nav bar
@mixin fixed-nav {
	position: fixed;
	left: 0;
	z-index: 9999;
	width: 100%;
}

@mixin center {
	display: flex;
	justify-content: center;
}

@mixin san-serif {
	font-family: 'novecentosanswide';
}

@mixin serif {
	font-family: 'merriweather';
}

@mixin button {
	width: 140px;
    height: 40px;
    background: none;
    border: 1px solid;
	color: black;
    text-transform: uppercase;
	align-items: center;
	text-decoration: none;
	@include center;
    @include san-serif;

    &:hover {
        background: #248A83;
        color: white;
		text-decoration:none; 
     	cursor:pointer;  
    }
}

@mixin box-border {
	box-sizing: border-box;
	border: 10px solid white;
}

@mixin background-center {
	background-size: cover;
    background-position: 50%;
}