/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header{
	border-bottom: 1px lightgrey solid;
	height: 50px; 
	display: flex;
	justify-content: center;
	font-family: 'novecentosanswide';
	font-weight: normal;
	background: rgba(255, 255, 255, 0.8 );

	@include fixed-nav;
}

.search-icon{
	align-content: center;
	font-size: 15px;
	color: #248A83;
	padding-left: 20px;
}

.search-input{
	padding-left: 20px;
}

.search-field{
	font-family: "novecentosanswide";
}

.site-nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	
}

.main-navigation {
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1120px;

	.logo {
		width: 52px;
		align-items: center;
	}


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;

		li:first-child{
			display: none;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;
		
			
			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding-left: 20px;
		text-transform: uppercase;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
