/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content{
    display: flex;
    justify-content: center;
}

.site-footer{
    display: none;
}

.content-area {
    max-width: 1120px;   
}

.post-container {
    width: 73%;
    border-right: 1px solid lightgrey;
    padding-top: 50px;
}

.site-main {
    display: flex
}

.widget-area{
    padding: 50px 0 0 50px;

    h2{
        font-family: 'novecentosanswide';
        text-transform: uppercase;
        letter-spacing: 2px; 
    }
}