/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		
		a{
			
			text-decoration: none;
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
